{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div>
            <b>Id:</b> {{cliente.index}}
        </div><div>
            <b>Usuario:</b> {{cliente.usuario}}
        </div><div>
            <b>Nombre:</b> {{cliente.nombre}}
        </div><div>
            <b>Venc:</b> {{cliente.vencimiento}}
        </div><div>
            <b>Link:</b> {{cliente.link}}
        </div>
    
        <div>
            <a href={% url 'apps.core:extender' cliente.usuario %} class="btn btn-primary">Extender</a>
        </div>
    </div>
{% endblock %}