{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
    <div class="container">
        <form method="get">
            <div class="row g-2">
                <div class="col-8">

                    <input type="text" placeholder="Buscar..." class="form-control" name="buscar"></input>
                </div>
                <div class="col">

                    <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
                <div class="col">
                    <a href="{% url 'apps.core:crear' %}" class="btn btn-secondary"><i class="bi bi-person-plus"></i></a>

                </div>
                
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row gy-3 gx-1 mt-1">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <!-- <div> -->
                        <h6 class="my-0">Creditos</h6>
                        <small class="text-body-secondary">{{creditos}}</small>
                    <!-- </div> -->
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <!-- <div> -->
                        <h6 class="my-0">Clientes</h6>
                        <small class="text-body-secondary">{{total_clientes}}</small>
                    <!-- </div> -->
                </li>
            </ul>
        </div>
    </div>

    <!-- TABLE -->
    <div class="container table-responsive">
        <table class="table table-sm">
            {% for i in data %}
            <tr>

                <td>{{i.usuario}}</td>
                <!-- <td>{{i.nombre}}</td> -->
                <td>
                    {% if i.dias_a_vencer > 3%}
                    <span style="font-size:1rem">{{i.vencimiento_set}}</span>
                    {% else %}
                    <span style="color:rgb(244, 120, 120);font-size:1rem">{{i.vencimiento_set}}</span>
                    {%endif%}
                </td>
                <td>
                    <a href="{% url 'apps.core:perfil' i.index %}" class="btn btn-outline-secondary"
                        style="margin-right:0.5rem;">
                        <i class="bi bi-person"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'apps.core:extender' i.usuario %}" class="btn btn-success"
                        style="margin-right:0.5rem;">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


</div>
{% endblock %}