{% extends 'base.html' %}
{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-4">{{creditos}}</div>
            <div class="col-4">Clientes: {{total_clientes}}</div>
        </div>
        <!-- <span>{{creditos}}</span>
            <span sytle="padding-left:2rem;">Clientes: {{total_clientes}}</span> -->
        <form method="get">
            
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                  </div>
                <!-- <div class="input-group mb-3">
                    <input type="text" placeholder="Buscar..." class="form-control" name="buscar"></input>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button> 
                      </div>
                </div> -->
                
                <div class="col-4">

                    <button type="submit" class="btn btn-secondary">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container mt-2 mb-2">
        <a href="{% url 'apps.core:crear' %}" class="btn btn-secondary"><i class="bi bi-person-plus"></i></a>
    </div>
    <div class="container table-responsive">
        <table class="table table-sm">
            {% for i in data %}
            <tr>

                <td>{{i.usuario}}</td>
                <!-- <td>{{i.nombre}}</td> -->
                <td>
                    {% if i.dias_a_vencer > 3%}
                    <span style="font-size:1rem">{{i.vencimiento_set}}</span>
                    {% else %}
                    <span style="color:rgb(244, 120, 120);font-size:1rem">{{i.vencimiento_set}}</span>
                    {%endif%}
                </td>
                <td>
                    <a href="{% url 'apps.core:perfil' i.index %}" class="btn btn-outline-secondary"
                        style="margin-right:0.5rem;">
                        <i class="bi bi-person"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'apps.core:extender' i.usuario %}" class="btn btn-success"
                        style="margin-right:0.5rem;">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


</div>
{% endblock %}